<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
    <title>Blogs :)</title>
</head>
<body>
    <div class="title">
        <h1 class="title-text"><a href="/">Alloa Blog Testsite</a></h1>
    </div>


    <div class="main">
        <div class="articles-container">
            {% for post in posts %}
                <div class="article">
                    <h2><a href="">{{ post.title }}</a></h2>
                    <p>{{ post.published_date }}</p>
                    <p>{{ post.text|linebreaksbr }}</p>
                </div>
            {% endfor %}
        </div>   
    </div>
    
</body>
</html>