*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit; /* will make everything on site inherit box-sizing from the body */
}

html {
    font-size: 62.5%; /* Makes calculating simpler, you calculate 10px in % by dividing the standard font size 10/16, defines what 1rem is*/
    max-height: 100%;
}

body {
    font-family: 'SF Pro Display', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.title-text {
    font-size: 3rem;
}